.right {
    position: absolute;
    right: 24px;
    height: 30px;
    top: 5px;
}

.count {
    display: inline-block;
    border-radius: 6px;
    background: #666;
    color: #fff;
    padding: 0 6px;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}