<h2>Custom Accordion</h2>
<eui-accordion style="height:250px">
  <eui-accordion-panel iconCls="icon-man" headerCls="hd">
    <eui-panel-header>
      <div class="panel-title panel-with-icon">Friends</div>
      <div class="right">
        <span class="count">124</span>
      </div>
    </eui-panel-header>
    <eui-tree [data]="treeData"></eui-tree>
  </eui-accordion-panel>
  <eui-accordion-panel iconCls="icon-help" bodyCls="f-row">
    <eui-panel-header>
      <div class="panel-title panel-with-icon">Helps</div>
      <div class="right">
        <span class="count">1,024</span>
      </div>
    </eui-panel-header>
    <eui-tabs class="f-full" [border]="false">
      <eui-tab-panel [title]="'Java'">
        <p>Java (Indonesian: Jawa) is an island of Indonesia. With a population of 135 million (excluding the 3.6 million on
          the island of Madura which is administered as part of the provinces of Java), Java is the world's most populous
          island, and one of the most densely populated places in the world.</p>
      </eui-tab-panel>
      <eui-tab-panel [title]="'C#'">
        <p>C# is a multi-paradigm programming language encompassing strong typing, imperative, declarative, functional, generic,
          object-oriented (class-based), and component-oriented programming disciplines.</p>
      </eui-tab-panel>
      <eui-tab-panel [title]="'Ruby'">
        <p>A dynamic, reflective, general-purpose object-oriented programming language.</p>
      </eui-tab-panel>
      <eui-tab-panel [title]="'Fortran'">
        <p>Fortran (previously FORTRAN) is a general-purpose, imperative programming language that is especially suited to numeric
          computation and scientific computing.</p>
      </eui-tab-panel>
    </eui-tabs>
  </eui-accordion-panel>
  <eui-accordion-panel [title]="'Printers'" iconCls="icon-print">
    <p>Printers Content</p>
  </eui-accordion-panel>
</eui-accordion>