<h2>TextBox Addons</h2>
<div style="margin-bottom:10px">
  <eui-textbox placeholder="With icons" style="width:300px">
    <eui-addon>
      <span class="textbox-icon icon-add"></span>
      <span class="textbox-icon icon-remove"></span>
      <span class="textbox-icon icon-search"></span>
    </eui-addon>
  </eui-textbox>
</div>
<div style="margin-bottom:10px">
  <eui-textbox placeholder="Icons on left" style="width:300px">
    <eui-addon align="left">
      <span class="textbox-icon icon-add"></span>
      <span class="textbox-icon icon-remove"></span>
      <span class="textbox-icon icon-search"></span>
    </eui-addon>
  </eui-textbox>
</div>
<div style="margin-bottom:10px">
  <eui-textbox placeholder="With button" style="width:300px;height:30px">
    <eui-addon>
      <eui-linkbutton iconCls="icon-search" [btnStyle]="{borderRadius:0,borderWidth:'0 0 0 1px',width:'70px',height:'30px'}">Search</eui-linkbutton>
    </eui-addon>
  </eui-textbox>
</div>
<div style="margin-bottom:10px">
  <eui-textbox placeholder="With button" style="width:300px;height:30px">
    <eui-addon align="left">
      <eui-linkbutton iconCls="icon-search" [btnStyle]="{borderRadius:0,borderWidth:'0 1px 0 0',width:'70px',height:'30px'}">Search</eui-linkbutton>
    </eui-addon>
    <eui-addon align="right">
      <span class="textbox-icon icon-add"></span>
      <span class="textbox-icon icon-remove"></span>
      <span class="textbox-icon icon-search"></span>
    </eui-addon>
  </eui-textbox>
</div>