<h2>Plain Button</h2>
<eui-panel [bodyStyle]="{padding:'5px'}">
  <eui-linkbutton iconCls="icon-add" [plain]="true">Add</eui-linkbutton>
  <eui-linkbutton iconCls="icon-reload" [plain]="true">Reload</eui-linkbutton>
  <eui-linkbutton iconCls="icon-search" [plain]="true">Search</eui-linkbutton>
  <eui-linkbutton iconCls="icon-cut" [plain]="true">Cut</eui-linkbutton>
  <eui-linkbutton iconCls="icon-print" [plain]="true">Print</eui-linkbutton>
  <eui-linkbutton iconCls="icon-help" [plain]="true"></eui-linkbutton>
  <eui-linkbutton iconCls="icon-save" [plain]="true"></eui-linkbutton>
  <eui-linkbutton iconCls="icon-back" [plain]="true"></eui-linkbutton>
</eui-panel>