<h2>Basic LinkButton</h2>
<div style="margin-bottom:20px">
  <eui-linkbutton iconCls="icon-add">Add</eui-linkbutton>
  <eui-linkbutton iconCls="icon-remove">Remove</eui-linkbutton>
  <eui-linkbutton iconCls="icon-save">Save</eui-linkbutton>
  <eui-linkbutton iconCls="icon-cut" [disabled]="true">Cut</eui-linkbutton>
</div>
<div>
  <eui-linkbutton iconCls="icon-search" style="width:80px">Search</eui-linkbutton>
  <eui-linkbutton iconCls="icon-print" style="width:80px">Print</eui-linkbutton>
  <eui-linkbutton iconCls="icon-reload" style="width:80px">Reload</eui-linkbutton>
  <eui-linkbutton iconCls="icon-help" style="width:80px">Help</eui-linkbutton>
</div>