<h2>Button Size</h2>
<p>Small Buttons</p>
<eui-linkbutton iconCls="icon-add">Add</eui-linkbutton>
<eui-linkbutton iconCls="icon-remove">Remove</eui-linkbutton>
<eui-linkbutton iconCls="icon-save">Save</eui-linkbutton>
<eui-linkbutton iconCls="icon-cut" [disabled]="true">Cut</eui-linkbutton>
<p>Large Buttons</p>
<eui-linkbutton iconCls="icon-large-picture" size="large" iconAlign="top">Picture</eui-linkbutton>
<eui-linkbutton iconCls="icon-large-clipart" size="large" iconAlign="top">Clipart</eui-linkbutton>
<eui-linkbutton iconCls="icon-large-shapes" size="large" iconAlign="top">Shapes</eui-linkbutton>
<eui-linkbutton iconCls="icon-large-smartart" size="large" iconAlign="top">SmartArt</eui-linkbutton>
<eui-linkbutton iconCls="icon-large-chart" size="large" iconAlign="top">Chart</eui-linkbutton>