<h2>Tooltip Content</h2>
<div style="padding:20px 140px">
  <span [euiTooltip]="tc">Login to System</span>
</div>
<eui-tooltip-content #tc>
  <eui-panel [border]="false" style="width:200px">
    <div style="padding:10px">
      <eui-textbox iconCls="icon-man" style="width:100%"></eui-textbox>
    </div>
    <div style="padding:10px">
      <eui-passwordbox style="width:100%"></eui-passwordbox>
    </div>
    <div style="text-align:center;padding:10px">
      <eui-linkbutton>Login</eui-linkbutton>
      <eui-linkbutton>Cancel</eui-linkbutton>
    </div>
  </eui-panel>
</eui-tooltip-content>