<h2>ProgressBar Style</h2>
<div style="margin-bottom:20px">
  <eui-progressbar value="30" class="mybar"></eui-progressbar>
</div>
<div style="margin-bottom:20px">
  <eui-progressbar value="20" barCls="c1"></eui-progressbar>
</div>
<div style="margin-bottom:20px">
  <eui-progressbar value="40" barCls="c2"></eui-progressbar>
</div>
<div style="margin-bottom:20px">
  <eui-progressbar value="50" barCls="c3"></eui-progressbar>
</div>
<div style="margin-bottom:20px">
  <eui-progressbar value="60" barCls="c4"></eui-progressbar>
</div>
<div style="margin-bottom:20px">
  <eui-progressbar value="80" barCls="c5"></eui-progressbar>
</div>
<div style="margin-bottom:20px">
  <eui-progressbar value="100" barCls="c6"></eui-progressbar>
</div>