<h2>Virtual Scroll - Lazy Load</h2>
<eui-panel>
  <eui-virtual-scroll [style.height.px]="height" [data]="data" [lazy]="lazy" [total]="total" [pageNumber]="pageNumber" [pageSize]="pageSize"
    [rowHeight]="rowHeight" (pageChange)="onPageChange($event)" (update)="items=$event">
    <div *ngFor="let item of items" class="item f-row">
      <div class="num">{{item.id}}</div>
      <div>
        <div class="name">{{item.name}}</div>
        <div class="desp">{{item.desp}}</div>
      </div>
    </div>
  </eui-virtual-scroll>
</eui-panel>