<h2>Filtering</h2>
<eui-datagrid #dg [data]="data" [filterable]="true" style="min-width:700px;height:250px">
  <eui-grid-column field="itemid" title="Item ID"></eui-grid-column>
  <eui-grid-column field="name" title="Name"></eui-grid-column>
  <eui-grid-column field="listprice" title="List Price" align="right" [filterOperators]="operators">
    <ng-template euiFilterTemplate let-col>
      <eui-numberbox [(ngModel)]="col.filterValue" precision="1" class="f-full">
      </eui-numberbox>
    </ng-template>
  </eui-grid-column>
  <eui-grid-column field="unitcost" title="Unit Cost" align="right" [filterOperators]="operators">
    <ng-template euiFilterTemplate let-col>
      <eui-numberbox [(ngModel)]="col.filterValue" class="f-full">
      </eui-numberbox>
    </ng-template>
  </eui-grid-column>
  <eui-grid-column field="attr" title="Attribute" width="30%"></eui-grid-column>
  <eui-grid-column field="status" title="Status" align="center">
    <ng-template euiFilterTemplate let-col>
      <eui-combobox class="f-full" [data]="status" [editable]="false" [inputStyle]="{textAlign:'center'}" (valueChange)="dg.doFilter({field:'status',op:'equal',value:$event.currentValue})">
      </eui-combobox>
    </ng-template>
  </eui-grid-column>
</eui-datagrid>