<h2>Button Style</h2>
<div style="margin:20px 0">
  <eui-linkbutton btnCls="c1" style="width:120px">Button1</eui-linkbutton>
  <eui-linkbutton btnCls="c2" style="width:120px">Button2</eui-linkbutton>
  <eui-linkbutton btnCls="c3" style="width:120px">Button3</eui-linkbutton>
  <eui-linkbutton btnCls="c4" style="width:120px">Button4</eui-linkbutton>
</div>
<div style="margin:20px 0">
  <eui-linkbutton btnCls="c5" style="width:120px">Button5</eui-linkbutton>
  <eui-linkbutton btnCls="c6" style="width:120px">Button6</eui-linkbutton>
  <eui-linkbutton btnCls="c7" style="width:120px">Button7</eui-linkbutton>
  <eui-linkbutton btnCls="c8" style="width:120px">Button8</eui-linkbutton>
</div>