<h2>Basic NumberBox</h2>
<p>The NumberBox component only accept inputing numbers.</p>
<div style="margin-bottom:10px">
  <label [for]="n1" align="top">Amount:</label>
  <eui-numberbox #n1 value="100" [spinners]="true"></eui-numberbox>
</div>
<div style="margin-bottom:10px">
  <label [for]="n2" align="top">List Price:</label>
  <eui-numberbox #n2 value="234.56" precision="2" [spinners]="false"></eui-numberbox>
</div>
<div style="margin-bottom:10px">
  <label [for]="n3" align="top">Discount:</label>
  <eui-numberbox #n3 value="60" suffix="%" [spinners]="false"></eui-numberbox>
</div>