<h2>Frozen Column</h2>
<eui-datagrid [data]="data" style="width:600px;height:250px">
  <eui-grid-column field="itemid" title="Item ID" frozen="true"></eui-grid-column>
  <eui-grid-column field="name" title="Name" frozen="true"></eui-grid-column>
  <eui-grid-column field="listprice" title="List Price" align="right" width="100"></eui-grid-column>
  <eui-grid-column field="unitcost" title="Unit Cost" align="right" width="100"></eui-grid-column>
  <eui-grid-column field="attr" title="Attribute" width="200"></eui-grid-column>
  <eui-grid-column field="status" title="Status" width="100"></eui-grid-column>
</eui-datagrid>