<h2>Pagination Layout</h2>
<eui-panel [bodyStyle]="{padding:'20px'}" style="margin-bottom:10px">
  <p>Page Number: {{pageNumber}}</p>
  <eui-panel-footer>
    <eui-pagination [total]="total" [pageSize]="pageSize" [pageNumber]="pageNumber" [layout]="layout1" (pageChange)="onPageChange($event)"></eui-pagination>
  </eui-panel-footer>
</eui-panel>
<eui-panel [bodyStyle]="{padding:'20px'}" style="margin-bottom:10px">
  <p>Page Number: {{pageNumber}}</p>
  <eui-panel-footer>
    <eui-pagination [total]="total" [pageSize]="pageSize" [pageNumber]="pageNumber" [layout]="layout2" (pageChange)="onPageChange($event)"></eui-pagination>
  </eui-panel-footer>
</eui-panel>
<eui-panel [bodyStyle]="{padding:'20px'}" style="margin-bottom:10px">
  <p>Page Number: {{pageNumber}}</p>
  <eui-panel-footer>
    <eui-pagination [total]="total" [pageSize]="pageSize" [pageNumber]="pageNumber" [layout]="layout3" (pageChange)="onPageChange($event)"></eui-pagination>
  </eui-panel-footer>
</eui-panel>