<h2>Basic Layout</h2>
<eui-layout style="width:700px;height:250px;">
  <eui-layout-panel region="north" style="height:50px;">
    <div class="title">North Region</div>
  </eui-layout-panel>
  <eui-layout-panel region="south" style="height:50px;">
    <div class="title">South Region</div>
  </eui-layout-panel>
  <eui-layout-panel region="west" style="width:120px;">
    <div class="title">West Region</div>
  </eui-layout-panel>
  <eui-layout-panel region="east" style="width:120px;">
    <div class="title">East Region</div>
  </eui-layout-panel>
  <eui-layout-panel region="center" style="height:100%">
    <div class="title">Center Region</div>
  </eui-layout-panel>
</eui-layout>